<!DOCTYPE html>
<html lang="zxx">

<head>
  <meta charset="utf-8">
  <title>ExecelLingo</title>

  <!-- mobile responsive meta -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  
  <!-- ** Plugins Needed for the Project ** -->
  <!-- Bootstrap -->
  <link rel="stylesheet" href="/plugins/bootstrap/bootstrap.min.css">
  <!-- slick slider -->
  <link rel="stylesheet" href="/plugins/slick/slick.css">
  <!-- themefy-icon -->
  <link rel="stylesheet" href="/plugins/themify-icons/themify-icons.css">
  <!-- animation css -->
  <link rel="stylesheet" href="/plugins/animate/animate.css">
  <!-- aos -->
  <link rel="stylesheet" href="/plugins/aos/aos.css">
  <!-- venobox popup -->
  <link rel="stylesheet" href="/plugins/venobox/venobox.css">

  <!-- Main Stylesheet -->
  <link href="/css/style.css" rel="stylesheet">
  
  <!--Favicon-->
  <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
  <link rel="icon" href="/images/favicon.ico" type="image/x-icon">

</head>

<body>
  

<!-- header -->
<header class="fixed-top header">
  <!-- top header -->
  <div class="top-header py-2 bg-white">
    <div class="container">
      <div class="row no-gutters">
        <div class="col-lg-4 text-center text-lg-left">
          <a class="text-color mr-3" href="callto:+6503903934"><strong>CALL</strong> +1 650 390 2933</a>
          <ul class="list-inline d-inline">
            <li class="list-inline-item mx-0"><a class="d-inline-block p-2 text-color" href="#"><i class="ti-facebook"></i></a></li>
            <li class="list-inline-item mx-0"><a class="d-inline-block p-2 text-color" href="#"><i class="ti-twitter-alt"></i></a></li>
            <li class="list-inline-item mx-0"><a class="d-inline-block p-2 text-color" href="#"><i class="ti-linkedin"></i></a></li>
            <li class="list-inline-item mx-0"><a class="d-inline-block p-2 text-color" href="#"><i class="ti-instagram"></i></a></li>
          </ul>
        </div>
        <div class="col-lg-8 text-center text-lg-right">
          <ul class="list-inline">
            <li class="list-inline-item"><a class="text-uppercase text-color p-sm-2 py-2 px-0 d-inline-block" href="/logout">log out</a></li>
            <li class="list-inline-item"><a class="text-uppercase text-color p-sm-2 py-2 px-0 d-inline-block" href="/login">login</a></li>
            <li class="list-inline-item"><a class="text-uppercase text-color p-sm-2 py-2 px-0 d-inline-block" href="/reg">register</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!-- navbar -->
  <div class="navigation w-100">
    <div class="container">
      <nav class="navbar navbar-expand-lg navbar-light p-0">
        <a class="navbar-brand" href="index.html"><img src="/images/logo.png" alt="logo"></a>
        <button class="navbar-toggler rounded-0" type="button" data-toggle="collapse" data-target="#navigation"
          aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navigation">
          <ul class="navbar-nav ml-auto text-center">
            <li class="nav-item @@home">
              <a class="nav-link" href="index.html">Home</a>
            </li>
            <li class="nav-item @@about">
              <a class="nav-link" href="/studentDashboard">Dashboard</a>
            </li>
            <li class="nav-item @@Profile">
              <a class="nav-link" href="/stuProfile">Profile</a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </div>
</header>
<!-- /header -->
<!-- Modal -->
<div class="modal fade" id="signupModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content rounded-0 border-0 p-4">
            <div class="modal-header border-0">
                <h3>Register</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="login">
                    <form action="#" class="row">
                        <div class="col-12">
                            <input type="text" class="form-control mb-3" id="signupPhone" name="signupPhone" placeholder="Phone">
                        </div>
                        <div class="col-12">
                            <input type="text" class="form-control mb-3" id="signupName" name="signupName" placeholder="Name">
                        </div>
                        <div class="col-12">
                            <input type="email" class="form-control mb-3" id="signupEmail" name="signupEmail" placeholder="Email">
                        </div>
                        <div class="col-12">
                            <input type="password" class="form-control mb-3" id="signupPassword" name="signupPassword" placeholder="Password">
                        </div>
                        <div class="col-12">
                            <button type="submit" class="btn btn-primary">SIGN UP</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- page title -->
<section class="page-title-section overlay" data-background="/images/backgrounds/page-title.jpg">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <ul class="list-inline custom-breadcrumb">
          <li class="list-inline-item"><a class="h2 text-primary font-secondary" href="/tutorProfile">Rate this tutor</a></li>
          <li class="list-inline-item text-white h3 font-secondary nasted"><%=datas[0].first_name+" "%> <%=datas[0].last_name%> </li>
        </ul>
    </div>
  </div>
</section>
<!-- /page title -->

<!-- teacher details -->
<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-md-5 mb-5">
        <img class="img-fluid w-100" src="/images/teachers/teacher0.jpg" alt="teacher">
      </div>
      <div class="col-md-6 mb-5">
        <h3><%=datas[0].first_name+" "%> <%=datas[0].last_name%></h3>
        <div class="row">
          <div class="col-md-6 mb-5 mb-md-0">
            <h4 class="mb-4">CONTACT INFO:</h4>
            <ul class="list-unstyled">
              <li class="mb-3"><a class="text-color" href="mailto:lizuotian1997@gmail.com"><i class="ti-email mr-2"></i> <%=datas[0].email%></a></li>
              <li class="mb-3"><a class="text-color" href="#"><i class="ti-facebook mr-2"></i><%=datas[0].first_name%> <%=datas[0].last_name%></a></li>
              <li class="mb-3"><a class="text-color" href="#"><i class="ti-twitter-alt mr-2"></i><%=datas[0].first_name+" "%> <%=datas[0].last_name%></a></li>
              <li class="mb-3"><a class="text-color" href="#"><i class="ti-skype mr-2"></i><%=datas[0].first_name+" "%> <%=datas[0].last_name%></a></li>
              <li class="mb-3"><a class="text-color" href="#"><i class="ti-location-pin mr-2"></i> Mountain View, CA, USA</a></li>
            </ul>
          </div>
          <div class="col-md-6">
              <h4 class="mb-4">Language to Teach</h4>
              <ul class="list-unstyled">
                <li class="mb-3"><%=datas[0].language_to_teach%></li>
              </ul>
              <h4 class="mb-4">Native Language:</h4>
              <ul class="list-unstyled">
                <li class="mb-3"><%=datas[0].native_language%></li>
              </ul>
              <h4 class="mb-4">Teaching experience:</h4>
              <ul class="list-unstyled">
                  <li class="mb-3"><%=datas[0].teaching_experience%></li>
              </ul>
              <h4 class="mb-4">Current Level:</h4>
              <ul class="list-unstyled">
                  <li class="mb-3"><%=datas[0].level%></li>
              </ul>
            
              
          </div>
        </div>
        <form action="/rateTutor/rated" method="post">
                <input type="hidden" name = "tutor_id" value="<%=datas[0].tutor_id%>">
                <h4 class="mb-4">Rate:</h4>
                      <input type="radio" name="rate" value="1"> &nbsp 1. Very Unsatisfied<br>
                      <input type="radio" name="rate" value="2">  &nbsp 2. Not so good, I won't recommend to others<br>
                      <input type="radio" name="rate" value="3"> &nbsp 3. Not so much helpful, but I at least learned sth<br>
                      <input type="radio" name="rate" value="4"> &nbsp 4. He/She has some good method to advice but lack of patient<br>
                      <input type="radio" name="rate" value="5"> &nbsp 5. Help me partically<br>
                      <input type="radio" name="rate" value="6"> &nbsp 6. She/He is good but need some improvement of her/his teaching<br>
                      <input type="radio" name="rate" value="7"> &nbsp 7. She/He is good, worth the price<br>
                      <input type="radio" name="rate" value="8"> &nbsp 8. He/She is helpful, I want to recommend to my friends.<br>
                      <input type="radio" name="rate" value="9"> &nbsp 9. Excellent, I want to select his/her course again<br>
                      <input type="radio" name="rate" value="10"> &nbsp 10. He/She's the best tutor I've ever meet<br>
              <br>
            <input type="submit" value="Submit">
          </form>
      </div>
    </div>
  </div>
</section>
<!-- /teacher details -->

<!-- footer -->
<footer>
  <%- include ./footer1 %>
</footer>
<!-- /footer -->

<!-- jQuery -->
<script src="/plugins/jQuery/jquery.min.js"></script>
<!-- Bootstrap JS -->
<script src="/plugins/bootstrap/bootstrap.min.js"></script>
<!-- slick slider -->
<script src="/plugins/slick/slick.min.js"></script>
<!-- aos -->
<script src="/plugins/aos/aos.js"></script>
<!-- venobox popup -->
<script src="/plugins/venobox/venobox.min.js"></script>
<!-- mixitup filter -->
<script src="/plugins/mixitup/mixitup.min.js"></script>
<!-- google map -->

<script src="/plugins/google-map/gmap.js"></script>

<!-- Main Script -->
<script src="/js/script.js"></script>

</body>
</html>