<!DOCTYPE html>
<html lang="zxx">

<head>
  <meta charset="utf-8">
  <title>ExcelLingo</title>

  <!-- mobile responsive meta -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  
  <!-- ** Plugins Needed for the Project ** -->
  <!-- Bootstrap -->
  <link rel="stylesheet" href="/plugins/bootstrap/bootstrap.min.css">
  <!-- slick slider -->
  <link rel="stylesheet" href="/plugins/slick/slick.css">
  <!-- themefy-icon -->
  <link rel="stylesheet" href="/plugins/themify-icons/themify-icons.css">
  <!-- animation css -->
  <link rel="stylesheet" href="/plugins/animate/animate.css">
  <!-- aos -->
  <link rel="stylesheet" href="/plugins/aos/aos.css">
  <!-- venobox popup -->
  <link rel="stylesheet" href="/lugins/venobox/venobox.css">

  <!-- Main Stylesheet -->
  <link href="/css/style.css" rel="stylesheet">
  
  <!--Favicon-->
  <link rel="shortcut icon" href="/images/favicon.ico" type="/image/x-icon">
  <link rel="icon" href="/images/favicon.ico" type="/image/x-icon">

</head>

<body>
  

<!-- header -->
<header class="fixed-top header">
  <!-- top header -->
  <div class="top-header py-2 bg-white">
    <div class="container">
      <div class="row no-gutters">
        <div class="col-lg-4 text-center text-lg-left">
          <a class="text-color mr-3" href="callto:+443003030266"><strong>CALL</strong> +650 390 3922</a>
          <ul class="list-inline d-inline">
            <li class="list-inline-item mx-0"><a class="d-inline-block p-2 text-color" href="#"><i class="ti-facebook"></i></a></li>
            <li class="list-inline-item mx-0"><a class="d-inline-block p-2 text-color" href="#"><i class="ti-twitter-alt"></i></a></li>
            <li class="list-inline-item mx-0"><a class="d-inline-block p-2 text-color" href="#"><i class="ti-linkedin"></i></a></li>
            <li class="list-inline-item mx-0"><a class="d-inline-block p-2 text-color" href="#"><i class="ti-instagram"></i></a></li>
          </ul>
        </div>
        <div class="col-lg-8 text-center text-lg-right">
          <ul class="list-inline">
            <li class="list-inline-item"><a class="text-uppercase text-color p-sm-2 py-2 px-0 d-inline-block" href="/logout">log out</a></li>
            <li class="list-inline-item"><a class="text-uppercase text-color p-sm-2 py-2 px-0 d-inline-block" href="/login" >login</a></li>
            <li class="list-inline-item"><a class="text-uppercase text-color p-sm-2 py-2 px-0 d-inline-block" href="/reg">register</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!-- navbar -->
  <div class="navigation w-100">
    <div class="container">
      <nav class="navbar navbar-expand-lg navbar-light p-0">
        <a class="navbar-brand" href="index.html"><img src="/images/logo.png" alt="logo"></a>
        <button class="navbar-toggler rounded-0" type="button" data-toggle="collapse" data-target="#navigation"
          aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navigation">
          <ul class="navbar-nav ml-auto text-center">
            <li class="nav-item @@home">
              <a class="nav-link" href="index.html">Home</a>
            </li>
            <li class="nav-item @@about">
              <a class="nav-link" href="/tutor_dashboard">Dashboard</a>
            </li>
            <li class="nav-item @@courses">
              <a class="nav-link" href='/select_course'>My COURSES</a>
            </li>
            <li class="nav-item @@courses">
                <a class="nav-link" href="/tutorProfile">Profiles</a>
              </li>
          </ul>
        </div>
      </nav>
    </div>
  </div>
</header>
<!-- /header -->

<!-- page title -->
<section class="page-title-section overlay" data-background="/images/backgrounds/page-title.jpg">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <ul class="list-inline custom-breadcrumb">
          <li class="list-inline-item"><a class="h2 text-primary font-secondary" href="@@page-link">Edit Profile</a></li>
          <li class="list-inline-item text-white h3 font-secondary @@nasted"></li>
        </ul>
        <p class="text-lighten">Click Submit to save your modification</p>
      </div>
    </div>
  </div>
</section>
<!-- /page title -->

<!-- contact -->
<section class="section bg-gray">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h2 class="section-title">Edit Profile</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-7 mb-4 mb-lg-0">
        <form action="/tutorProfile/update" method="post">
          <input type="hidden" value="<%=datas[0].tutor_id%>" name="id">
          First Name：<br><input type="text" class="form-control mb-3" id="first_name" name="first_name" value="<%=datas[0].first_name%>">
          Last Name：<br><input type="text" class="form-control mb-3" id="last_name" name="last_name" value="<%=datas[0].last_name%>">
          Email：<br><input type="text" name="email" value="<%=datas[0].email%>"  class="form-control mb-3"><br>
          Password: <br><input type="password" name="Password" value="<%=datas[0].password%>"  class="form-control mb-3"><br>
         
          <p>Language to Teach: <%=datas[0].language_to_learn%></p>
        <select name="language_to_teach" class="form-control mb-3">
            <option value="<%=datas[0].language_to_teach%>"> <%=datas[0].language_to_teach%></option>
            <option value="English">English</option>
            <option value="Chinese">Chinese</option>
            <option value="German">German</option>
            <option value="Janpanese">Janpanese</option>
            <option value="Spanish">Spanish</option>
            <option value="Italian">Italian</option>
            <option value="French">French</option>
            <option value="Portuguese">Portuguese</option>
            <option value="Russian">Russian</option>
          </select><br>
          <p>Native Language: <%=datas[0].native_language%></p>
        <select name="native_language" class="form-control mb-3">
            <option value="<%=datas[0].native_language%>"> <%=datas[0].native_language%></option>
            <option value="English">English</option>
            <option value="Chinese">Chinese</option>
            <option value="German">German</option>
            <option value="Janpanese">Janpanese</option>
            <option value="Spanish">Spanish</option>
            <option value="Italian">Italian</option>
            <option value="French">French</option>
            <option value="Portuguese">Portuguese</option>
            <option value="Russian">Russian</option>
          </select><br>
          <p>Current Level: <%=datas[0].level%></p>
          <select name="level"  class="form-control mb-3">
              <option value="<%=datas[0].level%>"><%=datas[0].level%></option>
              <option value="Proficient">Proficient</option>
              <option value="Senior (business conversation)">Senior (business conversation)</option>
              <option value="Senior (barrier-free business communication)">Senior (barrier-free business communication)</option>
              <option value="Native language level">Native language level</option>
            </select><br>
            <p>Teaching experience: <%=datas[0].teaching_experience%></p>
            <select name="teaching_experience"  class="form-control mb-3">
                <option value="<%=datas[0].teaching_experience%>"> <%=datas[0].teaching_experience%></option>
                <option value="less than 1 year">less than 1 year</option>
                <option value="1-2 years">1-2 years</option>
                <option value="2-3 years">2-3 years</option>
                <option value="3-5 years">3-5 years</option>
                <option value="5-8 years">5-8 years</option>
                <option value="8-10 years">8-10 years</option>
                <option value="10-15 years">10-15 years</option>
                <option value="15-20 years">15-20 years</option>
                <option value="Over 20 years">Over 20 years</option>
              </select><br>
            <br>

             <button type="submit" value="Submit" class="btn btn-primary">Submit</button>
          </form>
      </div>
      <div class="col-lg-5">
        <br>
        <p class="mb-5">Edit Your profile authentic, you’ll attact more student</p>
      </div>
    </div>
  </div>
</section>
<!-- /contact -->

<!-- gmap -->
<section class="section pt-0">
  <!-- Google Map -->
  <div id="map_canvas" data-latitude="51.507351" data-longitude="-0.127758"></div>
</section>
<!-- /gmap -->

<!-- footer -->
<footer>
  <%- include ./footer1%>
</footer>
<!-- /footer -->

<!-- jQuery -->
<script src="/plugins/jQuery/jquery.min.js"></script>
<!-- Bootstrap JS -->
<script src="/plugins/bootstrap/bootstrap.min.js"></script>
<!-- slick slider -->
<script src="/plugins/slick/slick.min.js"></script>
<!-- aos -->
<script src="/plugins/aos/aos.js"></script>
<!-- venobox popup -->
<script src="/plugins/venobox/venobox.min.js"></script>
<!-- mixitup filter -->
<script src="/plugins/mixitup/mixitup.min.js"></script>
<!-- google map -->


<script src="/plugins/google-map/gmap.js"></script>

<!-- Main Script -->
<script src="/js/script.js"></script>

</body>
</html>